<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{panel.header}"></title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <style>
        body{
            padding-top: 100px;
        }
    </style>
</head>
<body>
<nav th:insert ="fragments/navbar::nav_fragment" ></nav>
<div class="container">
    <div class="card">
        <div class="card-header card bg-info text-dark">
            <h2>Product List</h2>
            <p>
                <a href="#" class="btn btn-success">Add Product</a>
            </p>
            Header
        </div>
        <div class="card-body">
            <div  th:if="${productDtoList.isEmpty()}">
                No Products Available
            </div>
            <div th:unless="${productDtoList.isEmpty()}">
            </div>
            <td><table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{product.id.label}"></th>
                    <th th:text="#{product.name.label}"></th>
                    <th th:text="#{product.price.label}"></th>
                    <th>Detais</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="productDto:${productDtoList}">
                    <td>
                        <span th:text="${productDto.id}"></span>
                    </td>
                    <td>
                        <span th:text="${productDto.name}"></span>
                    </td>
                    <td>
                        $<span th:text="${productDto.price}"></span>
                    </td>
                    <td>
                        <a href="#" class="btn btn-info">Details</a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-warning">Edit</a>
                    </td>
                    <td>
                        <a href="#"class="btn btn-danger">Delete</a>
                    </td>
                </tr>


            </table>


    <div  th:if="${productDtoList.isEmpty()}">
        No Products Available
    </div>
   <div th:unless="${productDtoList.isEmpty()}">
       </div>
        <td><table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Detais</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="productDto:${productDtoList}">
                <td>
                    <span th:text="${productDto.id}"></span>
                </td>
                <td>
                    <span th:text="${productDto.name}"></span>
                </td>
                <td>
                    $<span th:text="${productDto.price}"></span>
                </td>
                <td>
                    <a href="#" class="btn btn-info">Details</a>
                </td>
                <td>
                    <a href="#" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <a href="#"class="btn btn-danger">Delete</a>
                </td>
            </tr>


        </table>

        </div>
        <div class="card-footer">Footer</div>
        <a href="#" class="btn btn-danger">Back</a>

</div>
    </div>


</div>
</body>
</html>